@model HopeAcademySMS.Models.Grade

@{
    ViewBag.Title = "Details";
}

<h2 class="text-danger">Details</h2>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstTest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondTest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @if (Model.Total <= 49)
            {        
               <h5 class="text-danger">@Html.DisplayFor(model => model.Total)</h5>
            }
            else
            {
                @Html.DisplayFor(model => model.Total)
            }
           
        </dd>

          <dt>
            @Html.DisplayNameFor(model => model.Grading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GradeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
