@model IEnumerable<HopeAcademySMS.Models.Grade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assignment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstTest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondTest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assignment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstTest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondTest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Term)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GradeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GradeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GradeID })
        </td>
    </tr>
}

</table>
