@model StAugustine.Models.Expression

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expression</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TermName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TermName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualityofHandwriting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualityofHandwriting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrammaticalSkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrammaticalSkills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OralExpression)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OralExpression)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImaginationCreativity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImaginationCreativity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VocabularyLexicalSkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VocabularyLexicalSkills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationOfIdeas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationOfIdeas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
